body{
    background: #f8f8f8;
    margin: 0;
    line-height: 1.6;
    font-family: "微软雅黑 Light", "微软雅黑", "黑体";
}

div{
    display: block;
}

/* Radio button css style from: http://code.stephenmorley.org/html-and-css/styling-checkboxes-and-radio-buttons */

input[type=radio]:not(old){
    width     : 2em;
    margin    : 0;
    padding   : 0;
    font-size : 1em;
    opacity   : 0;
}

input[type=radio]:not(old) + label{
    display      : inline-block;
    margin-left  : -2em;
    line-height  : 1.5em;
}

input[type=radio   ]:not(old) + label > span{
    display          : inline-block;
    width            : 0.875em;
    height           : 0.875em;
    margin           : 0.25em 0.5em 0.25em 0.25em;
    border           : 0.0625em solid rgb(192,192,192);
    border-radius    : 0.25em;
    background       : rgb(224,224,224);
    background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
    background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
    background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
    background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
    background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
    vertical-align   : bottom;
}

input[type=radio   ]:not(old):checked + label > span{
    background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
    background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
    background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
    background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
    background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}

input[type=radio]:not(old):checked + label > span > span{
    display          : block;
    width            : 0.5em;
    height           : 0.5em;
    margin           : 0.125em;
    border           : 0.0625em solid rgb(115,153,77);
    border-radius    : 0.125em;
    background       : rgb(84,204,84);
    background-image :    -moz-linear-gradient(rgb(43,194,83),rgb(84,204,84));
    background-image :     -ms-linear-gradient(rgb(43,194,83),rgb(84,204,84));
    background-image :      -o-linear-gradient(rgb(43,194,83),rgb(84,204,84));
    background-image : -webkit-linear-gradient(rgb(43,194,83),rgb(84,204,84));
    background-image :         linear-gradient(rgb(43,194,83),rgb(84,204,84));
}

.container{
    margin: 0 auto;
    text-align: center;
    min-width: 540px;
}

.comp_image{
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.comp_image_container{
    display: inline-block;
    min-width: 360px;
    min-height: 360px;
    height: 100%;
    width: 45%;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    background: white;
    margin: 10px 10px 10px 10px;
}

#meter_top{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.meter{
    max-width: 720px;
    height: 20px;
    position: relative;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 5px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    z-index: -1;
}

.meter>span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: rgb(43,194,83);
    background-image: linear-gradient(
            center bottom,
            rgb(43,194,83) 37%,
            rgb(84,240,84) 59%
    );
    position: relative;
    overflow: hidden;
}

.meter > span:after {
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image: linear-gradient(
            -45deg,
            rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent
    );
    z-index: 1;
    background-size: 50px 50px;
    animation: move 2s linear infinite;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}

.double_btn{
    width: 48%;
    z-index: 0;
    border-radius: 1.6em;
    height: 1.6em;
    color: whitesmoke;
    font-weight: 600;
    cursor: pointer;

}

.double_btn:hover{
    background: #888;
}

#button_set{
    max-width: 720px;
    min-width: 540px;
    display: none;
}

#div_next_1{
    float: left;
}

#div_next_2{
    float: right;
}

a.tooltips {
    position: relative;
    display: inline;
    text-decoration: none;
    background-color: #5E5E5E;
    border-radius: 3px;
    border:none;
    color: whitesmoke;
    padding-left: 5px;
}

#timer{
    float: left;
    margin-left: 4.16%;
    min-width: 5em;
    max-width: 80px;
    height: 20px;
    position: relative;
    background: orangered;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    z-index: -1;
    text-align: center;
    line-height: 20px;
}

#time{
    font-weight: 500;
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    color: #ffffff;
    font-size: 16px;
}


#progress{
    font-size: 14px;
    margin-top: -1.8em;
    color: white;
    z-index: 2;
    text-shadow: 0px 0px 3px #555;
    float: left;
    width: 100%;
}

#div_next{
    color: white;
    font-size: 18px;
    font-weight: 700;
    height: auto;
    cursor: pointer;
    margin-top: 5px;
    z-index: 0;
}

#div_next:hover{
    background: #888;
}

/* http://cbracco.me/a-simple-css-tooltip/ */
/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -120px;
    padding: 7px;
    width: 240px;
    -webkit-border-radius: 3px;
    -moz-border-radius:    3px;
    border-radius:         3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

#hint_p{
    color: dimgrey;
    font-size: 14px;
    display: none;
}

#img_framework{
    min-width: 960px;
    height: 80%;
    margin-bottom: 10px;
}

#cmp_choices{
    padding-top: 10px;
    line-height: 2em;
}



.spinner {
    width: 60px;
    height: 60px;
    position: relative;
    margin: 40% auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(43,194,83);
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}

.cmp_label:hover{
    color: #222;
}

#hint_mask{
    width: 100%;
    height: 100%;
    z-index: 3;
    text-align: center;
    position: absolute;
    background-color: whitesmoke;
}

#hint_container{
    font-weight: 700;
    background-color: orangered;
    padding: 5px 5px 20px 5px;
    z-index: 4;
    color: #ffffff;
    vertical-align: middle;
    margin: 20% auto;
    width: 75%;
    min-width: 720px;
}

#hint_button{
    background-color: #eee;
    width: 25%;
    min-width: 60px;
    margin: 0px auto;
    height: 2em;
    color: orangered;
    font-size: 18px;
    padding-top: 0.5em;
    cursor: pointer;
}

#hint_button:hover{
    background-color: #fff;
}
