body {
    min-width: 768px;
    background: #f8f8f8;
    line-height: 1.6;
    margin: 0;
    font-family: "微软雅黑 Light", "微软雅黑", "Simsun";
}

div{
    display: block;
}

input[type=text]{
    border-radius: 3px;
    border: 2px solid #cfe3dc;
}

table{
    margin: auto;
}

th{
    padding: 0 15px;
    text-align: center;
    background-color: antiquewhite;
    font-weight: 700;
}

td{
    padding: 0 15px;
    text-align: center;
}

.div_center{
    text-align: center;
}

.title{
    font-weight: bolder;
    font-size: 24px;
    font-family: "微软雅黑 Light", "微软雅黑", "黑体";
}

#headers{
    background: #44B78B;
    height: 48px;
    margin:0 auto;
    text-align: center;
}

#logo{
    font-size: 18pt;
    display: block;
    color:#fff;
    padding: 1px 0 1px;
    height: 48px;
    font-family: "微软雅黑 Light", "微软雅黑", "黑体";
}

#container{
    margin: 0 auto;
    padding: 0 4.1667%;
    max-width: 1400px;
}

#veri_code{
    width: 60px;
}

#verification{
    font-family: "微软雅黑 Light", "Simsun";
}

.submit_btn{
    max-width: 400px;
    margin: 10px auto;
    background: #44B78B;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    font-family: "微软雅黑 Light", "微软雅黑", "黑体";
    -webkit-font-smoothing: subpixel-antialiased;
    padding:0.1em 0;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

.submit_btn:hover{
    background: #51B195;
}

#captcha_info{
    display: none;
}

#captcha_img{
    cursor: pointer;
}

#pm_title{
    font-weight: bold;
}