body{
    background: #f8f8f8;
    font-family: "微软雅黑 Light", "Simsun";
    margin: 0;
    line-height: 1.6;
    min-width: 720px;
}

input[type=text]{
    width: 200px;
    line-height: 16px;
    border-radius: 3px;
    border: 2px solid #cfe3dc;
}

textarea{
    border-radius: 3px;
    border: 2px solid #cfe3dc;
    width: 200px;
}

[title=站长统计]{
    display: none;
}

input[type=text]:hover{
    border: 2px solid #44b78b;
}

.container{
    text-align: center;
}

#title{
    background: #44b78b;
    text-align: center;
    color: whitesmoke;
    padding-bottom: 0px;
    font-family: "微软雅黑 Light", "微软雅黑", "黑体";
}

#verify_info{
    display: none;
    color: orangered;
    font-weight: bold;
}

#submit_info{
    display: none;
    color: red;
    font-weight: bold;
}

#info_result{
    font-family: "微软雅黑 Light", "微软雅黑", "黑体";
    display: none;
}

.button{
    max-width: 400px;
    margin: 10px auto;
    background: #44B78B;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    -webkit-font-smoothing: subpixel-antialiased;
    padding:0.5em 0;
    font-size: 18px;
}

.button:hover{
    background: #51B195;
}
