body{
    background: #f8f8f8;
    font-family: "微软雅黑 Light", "Simsun";
    margin: 0;
    line-height: 1.6;
    min-width: 720px;
}

input[type=text]{
    width: 200px;
    line-height: 16px;
    border-radius: 3px;
    border: 2px solid #cfe3dc;
}

input[type=text]:hover{
    border: 2px solid #44b78b;
}

.container{
    text-align: center;

}

input[type=radio]:not(old) {
    width     : 2em;
    margin    : 0;
    padding   : 0;
    font-size : 1em;
    opacity   : 0;
}

input[type=radio]:not(old) + label {
    display      : inline-block;
    margin-left  : -2em;
    line-height  : 1.5em;
}

input[type=radio]:not(old) + label > span {
    display          : inline-block;
    width            : 0.875em;
    height           : 0.875em;
    margin           : 0.25em 0.5em 0.25em 0.25em;
    border           : 0.0625em solid rgb(192,192,192);
    border-radius    : 0.25em;
    background       : rgb(224,224,224);
    background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
    background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
    background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
    background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
    background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
    vertical-align   : bottom;
}

input[type=radio]:not(old):checked + label > span{
    background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
    background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
    background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
    background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
    background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}

input[type=radio]:not(old):checked + label > span > span{
    display          : block;
    width            : 0.5em;
    height           : 0.5em;
    margin           : 0.125em;
    border           : 0.0625em solid rgb(115,153,77);
    border-radius    : 0.125em;
    background       : rgb(153,204,102);
    background-image :    -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
    background-image :     -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
    background-image :      -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
    background-image : -webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));
    background-image :         linear-gradient(rgb(179,217,140),rgb(153,204,102));
}

#title{
    background: #44b78b;
    text-align: center;
    color: whitesmoke;
    padding-bottom: 0px;
    font-family: "微软雅黑 Light", "微软雅黑", "黑体";
}

#verify_info{
    display: none;
    color: orangered;
    font-weight: bold;
}

#submit_info{
    display: none;
    color: red;
    font-weight: bold;
}

#info_result{
    display: none;
}

#btn_submit{
    max-width: 400px;
    margin: 10px auto;
    background: #44B78B;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    -webkit-font-smoothing: subpixel-antialiased;
    padding:0.5em 0;
    font-size: 18px;
}

#btn_submit:hover{
    background: #51B195;
}
